doctype
html
  head
    title #{title} - Curs de schimb Bitcoin
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Curs de schimb Bitcoin
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Facut de #{title} cu CoffeeScript, Express, Jade si Stylus 